* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html, body {
    min-width: 1440px;
    min-height: 1073px;
    background: #191919;
    font-family: "DM Sans", sans-serif;
}

.header {
    height: 120px;
    max-width: 1440px;
    margin: 0 auto;

}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo-img {
    padding: 43px 0 43px 70px;
}

.menu {
    padding: 46px 50px;
    display: flex;
    gap: 40px;


}

.menu-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    padding: 20px 0;


}

.main {
    min-width: 1300px;
    min-height: 870px;
    padding: 40px 70px;

}

.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-img {
    border-radius: 12px;
    min-width: 650px;
    height: 873px;
    display: flex;
    justify-content: flex-start;
}

.main-info {
    padding: 314px 64px 130px 60px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.text {
    width: 526px;
    height: 176px;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
    color: #fff;
    padding-bottom: 90px;
}

.next {
    font-weight: 400;
    font-size: 75px;
    line-height: 1.17333;
    letter-spacing: 0.04em;
    padding-right: 25px;

}

.level {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
}


.choice {
    padding: 90px 0 173px;


}

.listen {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

form {
    display: flex;
    gap: 17px;
    padding-top: 16px;
}

input {
    appearance: none;
}


.continue {
    min-width: 1440px;
    height: 2088px;
    padding: 0 70px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-main {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    min-height: 99px;
    padding: 100px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    max-width: 513px;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2375;
    letter-spacing: 0.05em;
    color: #fff;


}

.btn {
    border-radius: 6px;
    width: 178px;
    height: 51px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    background: #118da8;

}

.second-main {
    min-width: 1300px;
    height: 1689px;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.one-card {
    border-radius: 32px;
    width: 1300px;
    height: 545px;
    background: #000;
    display: flex;
    flex-direction: row;
    gap: 53px;
    justify-content: center;
    padding: 40px;
}

.mini-img {
    min-width: 389px;
    min-height: 465px;
}

.one-card-info {
    width: 778px;
    height: 465px;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.gear {
    border-radius: 6px;
    width: fit-content;
    height: 27px;
    background: #191919;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-inline: 16px;

}

.episode {
    width: 82px;
    height: 27px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #118da8;
    padding: 48px 0;
}

.description {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
    padding-bottom: 28px;
}

.info {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 18px;
}

.button {
    border-radius: 6px;
    width: 208px;
    min-height: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background: #118da8;

}

.too-card {
    border-radius: 32px;
    width: 1300px;
    height: 512px;
    background: #000;
    display: flex;
    flex-direction: row;
    gap: 53px;
    padding: 40px;
}

.mini-img-2 {
    min-width: 389px;
    min-height: 432px;

}

.three-card {
    border-radius: 32px;
    width: 1300px;
    height: 512px;
    background: #000;
    display: flex;
    flex-direction: row;
    gap: 53px;
    padding: 40px;
}

.solo {
    font-size: 57px;
    line-height: 1.23509;
}

.three-main {
    max-width: 1300px;
    height: 743px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 100px 0;
}

.host-info {
    max-width: 590px;
    height: 448px;
    padding: 147px 0;
    display: flex;
    flex-direction: column;
}

.svg {
    /*transform: rotate(90deg);*/
    /*padding-bottom: 20px;*/
}

.host {
    font-size: 17px;
    line-height: 1.58824;
    width: fit-content;
}

.jacob {
    font-size: 65px;
    line-height: 1.21846;
    padding-bottom: 28px;
}

.boss {
    border-radius: 12px;
    width: 650px;
    height: 743px;
}

.subscription {
    display: flex;
    flex-direction: column;
}

.updates {
    border-radius: 32px;
    width: 1300px;
    height: 387px;
    background: #000;
    display: flex;
    flex-direction: row;
    gap: 76px;
    align-items: center;
    margin: 100px 0;

}

.left {
    max-width: 642px;
    padding-left: 60px;
}

.sub {
    font-size: 72px;
    line-height: 1.1;
}

.right {
    padding: 60px 60px 75px 0;

}

.action {
    display: flex;
    flex-direction: column;
}

#name, #mail {
    border: 1px solid #191919;
    border-radius: 6px;
    width: 522px;
    height: 82px;
    background: #191919;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
}

.small {
    width: 87px;
    height: 48px;
    font-weight: 700;
    font-size: 15px;
    /* line-height: 29px; */
    line-height: 1.92;
    color: rgba(255, 255, 255, 0.7);
}

.reviews {
    width: 1300px;
    max-height: 701px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 100px 0;
}

.review {
    border-radius: 32px;
    width: 423px;
    height: 321px;
    background: #000;

}

.stars {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 54px 0 0 50px;
}


.comment {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    padding: 21px 0 19px 50px;
}

.name {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 50px;
}

.c1 {
    padding-right: 60px;
}

.c2 {
    padding-right: 85px;
}

.c3 {
    padding-right: 72px;
}

.c4 {
    /*min-height: 173px;*/
    padding-right: 56px;
    display: flex;
    justify-content: flex-start;
}

.footer{
    min-width: 1440px;
    height: 438px;
    padding: 100px 70px 116px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0 auto;
}
.social{
    width: 447px;
    max-height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.messenger{
    padding-top: 20px;
}

.bottom-menu{
    width: 178px;
    height: 222px;
}

.menu-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.licence{
    width: 178px;
    height: 222px;
}
.menu-licence{
    display: flex;
    flex-direction: column;
    gap: 10px;
}