* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

html, body {
    max-width: 100%;
    min-height: 100vh;
    background: #191919;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

.header {
    height: 120px;
    max-width: 1440px;
    margin: 0 auto;

}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo-img {
    padding: 43px 0 43px 70px;
}

.menu {
    padding: 46px 50px;
    display: flex;
    gap: 40px;


}
.burger{
    display: none;
}

.menu-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    padding: 20px 0;
    transition: 0.3s;
}

.menu-link:hover {
    color: #118da8;
    cursor: pointer;

}

#home {
    /*min-width: 1300px;*/
    /*min-height: 870px;*/
    padding: 40px 70px;

}

.main-wrapper {
    display: flex;
    gap: 60px;
    flex-direction: row;
    justify-content: center;

}

.main-img-wrap {
    max-width: 650px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    position: relative

}

.main-img-wrap img {
    border-radius: 12px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-img-wrap:after {
    content: "";
    display: inline-block;
    background-image: url("./assets/luch.png");
    background-size: contain;
    position: absolute;
    width: 68px;
    height: 74px;
    top: -26px;
    left: -26px;
}

.main-info {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px;
}

.text {
    max-width: 526px;
    min-height: 176px;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
    color: #fff;

    /*padding-bottom: 90px;*/
}

.next {
    font-weight: 400;
    font-size: 75px;
    line-height: 1.17333;
    letter-spacing: 0.04em;
    padding-right: 25px;
    position: relative;

}

.next:after {
    content: "";
    display: inline-block;
    background-image: url("./assets/line.png");
    background-size: cover;
    position: absolute;
    width: 163px;
    height: 11px;
    bottom: -4px;
    left: -3px;

}

.level {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
}


.choice {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.listen {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

form {
    display: flex;
    gap: 17px;
    justify-content: flex-start;
    width: 100%;
    margin-left: 0;
}
form label {
    display: flex;
    align-items: center;
}

input {
    appearance: none;
}

.img:hover {
    transition: 0.4s;
    transform: translateY(-5px);
    cursor: pointer;
}


#episodes {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    /*padding: 0 70px;*/
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-main {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    min-height: 99px;
    padding: 100px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    max-width: 513px;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2375;
    letter-spacing: 0.05em;
    color: #fff;


}

.btn {
    border-radius: 6px;
    width: 178px;
    height: 51px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    background: #118da8;

}

.second-main {
    max-width: 1300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.one-card,
.too-card,
.three-card {
    border-radius: 32px;
    max-width: 1300px;
    /*min-height: auto;*/
    background: #000;
    display: flex;
    flex-direction: row;
    gap: 53px;
    justify-content: center;
    padding: 40px;

}

.mini-img,
.mini-img-2 {
    max-width: 100%;
    height: auto;
}

.one-card-info {
    max-width: 778px;
    min-height: 465px;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.gear {
    border-radius: 6px;
    max-width: fit-content;
    height: 27px;
    background: #191919;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-inline: 16px;

}

.episode {
    width: 82px;
    height: 27px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #118da8;
    padding: 48px 0;
}

.description {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
    padding-bottom: 28px;
}

.info {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 18px;
}

.button {
    border-radius: 6px;
    width: 208px;
    min-height: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background: #118da8;

}

button:hover {
    background-color: #3498db;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}


.solo {
    font-size: 57px;
    line-height: 1.23509;
}

.three-main {
    max-width: 1300px;
    min-height: 743px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 100px 0;
}

.host-info {
    max-width: 590px;
    min-height: 448px;
    display: flex;
    flex-direction: column;
    align-self: center;
}


.host {
    font-size: 17px;
    line-height: 1.58824;
    width: fit-content;
}

.arrow {
    transition: 0.4s;
    position: relative;
    display: inline-block;
    max-width: 100px;
    height: 100px;
    text-decoration: none;
}

.fon {
    width: 100%;
    height: 100%;
    display: block;
}

.str {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: transform 0.4s ease;
}

.arrow:hover {
    transform: rotate(90deg);
    cursor: pointer;
}

.jacob {
    font-size: 65px;
    line-height: 1.21846;
    padding-bottom: 28px;
}

.boss {
    border-radius: 12px;
    max-width: 650px;
    min-height: 743px;
}



.updates {
    border-radius: 32px;
    max-width: 1300px;
    height: auto;
    background: #000;
    display: flex;
    flex-direction: row;
    gap: 76px;
    align-items: center;
    margin: 100px 0;
    position: relative;

}
.new{
  padding: 0 ;
}
.updates:after {
    content: "";
    display: inline-block;
    background-image: url("./assets/big_luch.png");
    background-size: contain;
    position: absolute;
    width: 147px;
    height: 91px;
    bottom: -26px;
    left: -38px;
}

.left {
    max-width: 642px;
  margin-left: 60px ;


}

.sub {
    font-size: 72px;
    line-height: 1.1;

}

.right {
    padding: 60px 60px 75px 0;


}

.action {
    display: flex;
    flex-direction: column;
}

#name, #mail {
    border: 1px solid #191919;
    border-radius: 6px;
    min-width: 522px;
    width: 100%;
    height: 82px;
    background: #191919;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    transition: 0.5s;
}

#name:hover, #mail:hover {
    border: 1px solid #195899;
    cursor: pointer;
}

.small {
    width: 87px;
    height: 48px;
    font-weight: 700;
    font-size: 15px;
    /* line-height: 29px; */
    line-height: 1.92;
    color: rgba(255, 255, 255, 0.7);
}

.reviews {
    max-width: 1300px;
    height: auto; display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    justify-items: center;
    margin: 100px auto;
}

.review {
    width: 100%;
    border-radius: 32px;
    max-width: 423px;
    min-height: 321px;
    background: #000;
    display: flex;
    flex-direction: column;

}

.stars {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 54px 0 0 50px;
}


.comment {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    padding: 21px 0 19px 50px;
}

.name {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 50px;
}

.c1 {
    padding-right: 60px;
}

.c2 {
    padding-right: 85px;
}

.c3 {
    padding-right: 72px;
}

.c4 {
    /*min-height: 173px;*/
    padding-right: 56px;
    display: flex;
    justify-content: flex-start;
}

.footer {
    width: 100%;
    max-width: 1440px;
    padding: 100px 70px 116px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    margin: 0 auto;
    transition: 0.3s;
}

.social {
    min-width: 447px;
    min-height:  222px;
   height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-bottom{
    display: contents;
}
.messenger {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bottom-menu,
.licence
{
    max-width: 178px;
    height: auto;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.menu-licence {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 768px ) {
.header-wrapper{
    padding:  26px 0 ;
    display: flex;
    justify-content: space-between;
}
    .logo-img{
        padding: 17px 0 17px 20px;
    }
    .menu {
        display: none;
    }
    .burger{
        display: block;
        background-image: url("./assets/iconamoon_menu-burger-horizontal-light (3).png");
        width: 36px;
        height: 24px;
        background-size: contain;
        border: none;
        cursor: pointer;
        background-repeat: no-repeat;
        padding: 21px 27px 21px;
        background-color: transparent;
    }

    .burger:focus,
    .burger:active {
        outline: none;
        background-color: transparent;
        box-shadow: none;
    }

.main-info{
    padding: 0;
}

    .main-wrapper {
        flex-direction: column;
        gap: 60px;
    }
    .main-img-wrap img{
        object-fit: cover;
    }


    #episodes{
        padding: 0 20px 160px;
    }

    .container{
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .one-main {
        flex-direction: column;
        gap: 20px;
    }

    .one-card,
    .too-card,
    .three-card{
        flex-direction: column;
        align-items: center;

    }
    .mini-img,
    .mini-img-2{
        min-width: 648px;
        min-height: 465px;
        object-fit: cover;
    }
    #about{
        padding: 100px 60px 115px;
    }
.three-main {
    flex-direction: column-reverse;
    gap: 60px;
}
.boss{
    width: 100%; /* картинка занимает всю ширину блока */
    height: auto;
    min-height: auto;
}
#subscription {
    padding: 100px 20px;
}
.updates{
    flex-direction: column;
    gap: 0;
    margin: 0;
    height: auto;
    position: relative;
}
.updates:after {
     left: 92%;
    bottom: -6%;
    transform:translateX(-50%) rotate(320deg);

}

.left{
    padding: 60px 0 86px ;
    margin-left: 40px;
}

.right{
    padding: 0 40px 86px ;
    width: 100%;
    min-height: 252px;

}

#name, #mail{
    max-width: 648px;
    width: 100%;
}
.sub{
    padding: 0;
}

.reviews{
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    justify-items: center;
    padding: 0 20px ;
}
.review{
    height: auto;
    max-width: 356px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.c1,
.c2,
.c3{
    padding-left: 40px;
    padding-right: 40px;
}
.c4{
    padding-left: 40px;
    padding-right: 20px;
}
.stars{
    padding-left:  40px;
}
.name{
    padding-left:  40px;
}

.footer{
    padding: 100px 60px 123px;
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
}

.footer-bottom{
    max-width: 646px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.bottom-menu,
.licence,
.labels{
    flex: 1;
    min-width: 0;
    height: auto;
}
.licence{
    max-width: 193px;
    min-height: 222px;
}


}