* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

html, body {
    min-width: 1440px;
    min-height: 1073px;
    background: #191919;
    font-family: "DM Sans", sans-serif;
}

.header {
    height: 120px;
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo-img {
    padding: 43px 0 43px 70px;
}

.menu {
    padding: 46px 50px;
    display: flex;
    gap: 40px;


}

.menu-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    padding: 20px 0;



}

.main {
    min-width: 1300px;
    min-height: 870px;
    padding: 40px  70px;

}
.main-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-img {
    border-radius: 12px;
    max-width: 650px;
   width: 100%;
    display: flex;
    justify-content: flex-start;
}

.main-info {
    padding: 314px 64px 130px 60px;
    display: flex;
    flex-direction: column;
}

.text {
    width: 526px;
    height: 176px;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
    color: #fff;
}

.next {
    font-weight: 400;
    font-size: 75px;
    line-height: 1.17333;
    letter-spacing: 0.04em;
    padding-right: 25px;
}

.level {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
}


.choice{
    padding: 90px 0 130px;


}
.listen {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

form {
    display: flex;
    gap: 17px;
    padding-top: 16px;
}
input{
    appearance: none;
}

.image{

}